<app-header></app-header>
<div class="container contact-form">
    <form method="post">
        <h1 style="text-align: center;">Contact us</h1>
       <div  style="font-size: large; font-family: Verdana, Geneva, Tahoma, sans-serif;" class="refund-link">
         <label>Note</label>
         <ul>
            <li>For any refund related queries, please visit <a href="#refunds">refunds.railreserve.in</a></li>
            <li>For any other queries, please write to us at <a href="mailto:care@railreserve.in">care@railreserve.in</a> or call us at 8010500300 (8AM - 9PM, 7 days a week)</li>
         </ul>
       </div>
    </form>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<app-footer></app-footer>