<div class="text-center text-white">
    <div class="card-header bg-info">
        Featured
    </div>
    <div class="card-body bg-dark">
        <h5 class="card-title">Social Media</h5>
        <div style="width: auto;" class="form-group">

            <img style="margin:20px;" width="30px" src=".\assets\fb.png" alt="..." class="rounded-circle">

            <img style="margin:20px;" width="30px" src=".\assets\inst.png" alt="..." class="rounded-circle">

            <img style="margin:20px;" width="30px" src=".\assets\twi.png" alt="..." class="rounded-circle">

        </div>
    </div>
    <div class="card-footer text-light bg-secondary">
        Copyright @ 2023 RAILRESERVE.IN | ALL RIGHTS RESERVED
    </div>
</div>