<app-header></app-header>
<div class="about-section">
    <div class="container about-form">
        <h1 style="text-align: center;">Privacy Policy</h1>
        <form style="font-size: large; font-family: Verdana, Geneva, Tahoma, sans-serif; margin-top: 40px;" method="post">
            <li><strong>What this Privacy Policy Covers?</strong>
                <p style="margin-top: 20px;">
                    This privacy policy covers treatment of personally identifiable information collected by this Site.
                </p>
            <form  style="font-size: large; font-family: Verdana, Geneva, Tahoma, sans-serif; margin-top: 40px;" method="post">
                <p><strong>While using RailReserve, we would collect & store following information:</strong><br></p>
                <li><strong>Email Addresses</strong>
                    <p>We automatically read & collect your email addresses available on your phone.We need email addresses to send you email for train ticket status updates, 
                    Invoices & other communications. We do not share this with any third parties
                    </p></li>
                <li><strong>Phone Number</strong><p>We collect phone number only when you explicitly give it to us. 
                    This is needed to call you for completing our services such as serving food on train,
                    sending m-tickets. Phone Number is also needed for unique identity to help us give you RailReserve cash in
                     your RailReserve closed wallet within the app.</p></li>
                    </form>
            </li>
        </form>
    </div>
  </div>
  
                    
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<app-footer></app-footer>
        
  
    


